.filter {
  padding: 20px;
  background-color: #fff;
  box-shadow: var(--block-shadow);
  border-radius: 5px;
}

.filter__title {
  margin: 0 0 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
