.filter {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.filter__title {
  margin: 0 0 20px;
  font-size: 12px;
  font-weight: 600;
  color: #4a4a4a;
  text-transform: uppercase;
}
