body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f7fa;
}

.header {
  padding: 50px 20px;
  text-align: center;
}

.container {
  max-width: 755px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-gap: 20px;
}
